.checkout_page {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    // border-radius: 10px;
    z-index: 1000;
    width: 100%;
    background-color: rgba(146, 112, 112, 0.587);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .close_button {
        position: absolute;
        top: 3%;
        right: 2%;
        font-size: 30px;
        color: red !important;
        cursor: pointer;
        border: none;
        background-color: rgba(255, 232, 203, 0);
    }
    .form_container {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1em;
        padding: 1em;
        border-radius: 10px;
        width: 30%;
        height: auto;
    }
    form {
        z-index: 3000;
        textarea {
            width: 100%;
            height: 250px;
            resize: vertical;
            font-size: 16px;
            padding: 0.5em;
            max-height: 80%;
        }
        .dest_container {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        width: 90%;
        h1 {
            text-align: center;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            font-size: 27px;
        }
        display: flex;
        flex-direction: column;
        gap: 1em;
        select,
        input {
            border-radius: 5px;
            font-size: 14px;
            border: 1px solid black;
            padding: 0.4em;
        }
        button {
            background-color: #e77221;
            color: white;
            padding: 0.3em;
            font-size: 16px;
            border: none;
            border-radius: 5px;
        }
        .button_container {
            width: 100%;
            button {
                background-color: #0dab1f;
                width: 100% !important;
            }
        }
    }
}

.container {
    z-index: 4000;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    // background-color: rgba(45, 43, 39, 0.808);
    height: 100%;
    font-size: 16px;
    .table_container {
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        position: absolute;
        padding: 1em;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 40%;
        overflow-y: scroll;
        height: 400px;
        table {
            width: 100%;
            border-collapse: collapse;
            border: 2px solid rgb(0, 0, 0);
            margin-bottom: 0.5em;
            tr {
                th {
                    padding: 0.5em;
                    font-size: 16px;
                    border: 1px solid black;
                    border-spacing: 0cap;
                    border: none;
                    // background-color: rgba(137, 134, 134, 0.831);
                }
            }
            tr {
                td {
                    padding: 0.5em 0.2em;
                    .td_container {
                        text-overflow: ellipsis;
                        overflow: hidden;
                        font-size: 16px;
                        width: 20px !important;
                    }
                    .td_button {
                        display: flex;

                        // width: 100%;
                        justify-content: space-around;
                        button {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-size: 17px;
                            padding: 0.5em;
                            border: none;
                            border-radius: 5px;
                            color: white;
                        }
                        .select_add {
                            background-color: #0dab1f;
                        }
                        .delete_add {
                            background-color: red;
                        }
                    }
                }
            }
        }
        .form_button {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: red($color: #000000);
            width: 100%;
            gap: 20px;
            button {
                width: 100%;
                font-size: 16px;
                border: none;
                border-radius: 5px;
                color: white;
                height: 40px;
                background-color: #e77221;
            }
            .cancel {
                background-color: red;
            }
        }
    }
}
.address_page {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    // border-radius: 10px;
    width: 100%;
    background-color: rgba(45, 43, 39, 0.808);
    height: 100%;
    z-index: 3000;
    display: flex;
    align-items: center;
    justify-content: center;
    .form_container {
        position: relative;
        gap: 1em;
        padding: 1em;
        border-radius: 10px;
        width: 40% !important;
        height: auto;
        form {
            // position: a;
            textarea {
                height: 300px;
                resize: none;
            }
            .add_container {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                button {
                    font-size: 16px;
                    padding: 0.5em;
                }
            }
        }
    }
}
