.table_bg {
    position: absolute;
    width: 100%;
    height: 100%;
    .filter_contianer{
        display: flex;
        gap: 1em;
        justify-content: flex-end;
        select{
            font-size: 16px;
            border: 2px solid rgb(195, 154, 6);
        }
        margin-bottom: 1em;
    }
    .table_container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        table {
            
            border-collapse: collapse;
            thead {
                tr {
                    th {
                        padding: 0.5em;
                        font-size: 16px;
                        border: 1px solid black;
                        border-spacing: 0cap;
                    }
                }
            }
            tbody {
                tr {
                    td {
                        padding: 0.5em;
                        font-size: 16px;
                        border: 1px solid black;
                        border-spacing: 0cap;
                        button {
                            font-size: 16px;
                            border: none;
                            padding: 0.5em;
                            color: white;
                            border-radius: 5px;
                        }
                        .ban {
                            background-color: red;
                        }
                        .unban {
                            background-color: rgb(21, 215, 21);
                        }
                        img{
                            width: 600px;
                            height: 250px;
                        }
                        
                    }
                }
            }
        }
    }
}
.paginate_container {
    margin-top: 1em;
    display: flex;
    gap: 1em;
    font-size: 16px;
    button {
        font-size: 16px;
        border: none;
        padding: 0.5em;
        color: white;
        border-radius: 5px;
    }
    .next, .prev{
        background-color: rgb(76, 76, 166);
    }
    .pageNumber{
        display: flex;
        align-items: center;
    }
}
