.home_page {
    padding: 1em;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .shop_name {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        h1 {
            text-align: center;
            display: flex;
            gap: 0.5em;
            .edit_container {
                display: flex;
                align-items: center;
                justify-content: center;
                button {
                    background-color: #0dab1f;
                    // background-color: #ffa33a00;
                    border-radius: 5px;
                    cursor: pointer;
                    font-size: 20px;
                    padding: 0.2em;
                    color: white;
                    height: auto;
                    border: none;
                }
            }
        }
    }
    .shop_banner {
        display: flex;
        position: relative;
        justify-content: center;
        width: 100%;
        margin: 1em 0;
        img {
            border-radius: 20px;
            width: 90%;
            height: 400px;
            object-fit: cover;
        }
        .button_container {
            position: absolute;
            opacity: 0;
            width: 90%;
            border-radius: 15px;
            height: 100%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: flex;
            text-align: center;
            align-items: center;
            justify-content: center;
            background-color: rgba(30, 28, 25, 0.644);
            transition: opacity 0.5s ease;
        }
        button {
            display: none;
            padding: 0.5em;
            border: none;
            border-radius: 5px;
            color: white;
            background-color: #0dab1f;
            font-size: 18px;
        }
        .button_container:hover {
            opacity: 1;
        }
        .button_container:hover button {
            display: block;
        }
    }
    .content {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        .cate_title {
            display: flex;
            justify-content: center;
            margin-bottom: 1em;
        }
        .sort_title {
            width: 90%;
            display: flex;
            margin: 1em 0;
        }
        .category {
            width: 90%;
            display: grid;
            grid-template-columns: auto auto auto auto auto;
            column-gap: 1em;
            row-gap: 1em;
            .category_container {
                border: 1px solid #e8dfd5;
                border-radius: 10px;
                font-size: 22px;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 200px;
                background-color: red;
            }
        }
        .sort {
            width: 90%;
            display: flex;
            gap: 2em;
            button {
                padding: 0.5em;
                font-size: 19px;
                border: none;
                border-radius: 10px;
                background-color: #ffa33a;
                color: white;
            }
        }
    }
}
