.reviews_page {
    padding: 2em;
}

.statistic {
    padding: 0 2em;
    display: flex;
    justify-content: space-between;
    .left_statistic {
        display: flex;
        width: 50%;
        flex-direction: column;
        span {
            font-size: 16px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            display: flex;
            justify-content: center;
            gap: 1em;
            align-items: center;
            width: 100%;
            progress {
                appearance: none;
                width: 80%;
                height: 8px;
                border-radius: 10px !important;
                border: none;
                // background-color: #fab319;
            }

            progress::-webkit-progress-value {
                background-color: #fab319;
                // border-radius: 10px;
            }
        }
    }
}
