.detail_container{
    display: flex;
    flex-direction: column;
    padding : 3em;
    .product_detail{
        display: flex;
        gap: 1em;
        width: 100%;
        .left_detail{
            img{
                width: 100%;
                border-radius: 10px;
            }
        }
        .right_detail{
            display: flex;
            flex-direction: column;
            width: 50%;
            h1{
                margin: .5em 0;
                font-size: 40px;
                word-wrap: break-word;
            }
            h1:hover{
                text-decoration: underline;
            }
            .top, .mid, .button_container{
                font-size: 16px;
                margin: .5em 0;
                display: flex;
                justify-content: space-between;
            }
            .description{
                margin: .5em 0;
                height: 100%;
            }
            .button_container{
                button{
                    cursor: pointer;
                    font-size: 16px;
                    color: white;
                    border: none;
                    padding: .5em;
                    border-radius: 5px;
                    display: flex;
                    gap: 5px;
                    height: 35px;
                }
                .cart_container{
                    display: flex;
                    gap: 10px;

                }
                .cart_button{
                    background-color: green;
                }
                .wish_button{
                    background-color: rgb(45, 51, 235);
                }
            }
        }
    }
}
.incre_container{
    display: flex;
    align-items: center;
    .count_button{
        border-radius: 0px !important;
        background-color: rgb(223, 119, 55);
        // height: 14px !important;
        // padding: 1px !important;
        // width: 15px;
    }
    span{
        padding: 4px 10px;
    }
}