.review_list {
    width: 100%;
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    gap: 30px;
    .review_container {
        .top {
            margin-bottom: 1em;
            display: flex;
            justify-content: space-between;
            font-size: 16px;
            b:hover {
                text-decoration: underline;
            }
            .button_container {
                display: flex;
                gap: 20px;
                button {
                    width: 28px;
                    height: 28px;
                    border: none;
                    color: white;
                    font-size: 20px;
                    cursor: pointer;
                    border-radius: 5px;
                }
                .delete_review {
                    background-color: red;
                }
                .update_review {
                    background-color: #32e721;
                }
            }
        }
        padding: 1em 0;
        border-bottom: 1px solid #e77221;
        .middle {
            display: flex;
            justify-content: space-between;
        }
    }
}
.temp {
    display: flex;
    flex-direction: column !important;
    justify-content: center;
    width: 90%;
    align-items: center;
}
.statistic {
    width: 90%;
    padding: 1em 2em;
    // display: flex;
    // justify-content: space-between;
    .left_statistic {
        display: flex;
        width: 100%;
        flex-direction: column;
        span {
            font-size: 16px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            display: flex;
            justify-content: center;
            gap: 1em;
            align-items: center;
            width: 100%;
            progress {
                appearance: none;
                width: 80%;
                height: 8px;
                border-radius: 10px !important;
                border: none;
                // background-color: #fab319;
            }

            progress::-webkit-progress-value {
                background-color: #fab319;
                // border-radius: 10px;
            }
        }
    }
}
